/* Algemene instellingen */
body {
    background-color: #f8f9fa;
}

h1, h3 {
    color: #800000;
}

/* Video als achtergrond */
.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Zorgt ervoor dat de video achter de tekst staat */
}

/* Zorg dat de content bovenop de video staat */
.content {
    position: relative;
    z-index: 1;
    min-height: 100vh; /* Zorgt ervoor dat de content minimaal de hoogte van het scherm heeft */
    padding-bottom: 100px; /* Ruimte voor de footer */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Footer styling */
footer {
    background-color: #800000;
    position: relative;
    z-index: 1;
}

footer p, footer a {
    color: #fff;
}

