#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: lightslategray; /* Lichtgrijze achtergrond voor contrast */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms ease, transform 500ms ease; /* Voeg een overgang toe voor de transformatie */
}

.logo:hover {
  filter: drop-shadow(0 0 2em green);
  transform: scale(1.1); /* Het logo iets laten vergroten bij hover */
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
  transform: scale(1.1); /* Het logo iets laten vergroten bij hover */
}
